<div id="masonry-container" class="transitions-enabled">
  <div id="social-area">
    <% @tweets.each do |i| %>
      <div class="box panel panel-default">
        <%= image_tag(i["user"]["profile_image_url"], size:"25x25") %>
        <%= "@#{i["user"]["screen_name"]}" %>
        <h5><%= i["user"]["name"] %></h5>
        <div class="panel-body">
          <% if i["entities"]["media"].present? %>
            <%= image_tag(i["entities"]["media"][0]["media_url"], size:"180x180") %>
          <% end %>
          <p><%= i["text"] %></p>
          <p id="grey_text"><%= "posted #{convert_date(i["created_at"])} ago" %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

