.wrapper
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => "#navigation", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand.text-uppercase{:href => "#"}
          Qwik Content
          %span.label.label-success.text-capitalize Free
      #navigation.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to "Sign In", new_user_session_path, class: "button.btn.btn-success.navbar-btn.btn-circle"
          %li
            = link_to "Sign Up", new_user_registration_path, class: "button.btn.btn-success.navbar-btn.btn-circle"
  %header.header
    .container
      .row
        .col-md-5.col-md-offset-1
          .content
            .pull-middle
              %h1.page-header Collect and save all the pictures from your event.
              %p.lead Easy and Free!
              .panel.panel-default
                .panel-body
                  = form_for @tweet, url: {action: "create"} do |f|
                    .input-group
                      .input
                        = f.text_field :hashtag, placeholder: "put your hashtag here", class: "form-control"
                        %span.input-group-btn
                          .button
                            = f.submit "See How it Works", class: "btn btn-success btn-circle"
        .col-md-4.col-md-offset-1.text-center.mt-100.mb-100
          .phone
            %img.img-responsive.img-rounded{:src => "http://placemi.com/djlnr/263x480"}
  / %section.section
  /   .container
  /     .row
  /       .col-md-4.col-md-offset-1.text-center.mt-100.mb-100
  /         .phone
  /           %img.img-responsive.img-rounded{:src => "http://placemi.com/djlnr/263x480"}
  /       .col-md-5.col-md-offset-1
  /         .content
  /           .pull-middle
  /             %h2.h1.page-header Discover more about features.
  /             %ul.media-list
  /               %li.media
  /                 %a.media-left{:href => "#"}
  /                   %span.glyphicon.glyphicon-cloud.icon.text-success
  /                 .media-body
  /                   %h3.media-heading Praesent porttitor urna ut enim.
  /                   %p Maecenas vitae ex iaculis, efficitur est eu, fermentum quam.
  /               %li.media
  /                 %a.media-left{:href => "#"}
  /                   %span.glyphicon.glyphicon-lock.icon.text-success
  /                 .media-body
  /                   %h3.media-heading Cras consequat est et elit.
  /                   %p Integer suscipit massa at tellus semper, at aliquam ante bibendum.
  /               %li.media
  /                 %a.media-left{:href => "#"}
  /                   %span.glyphicon.glyphicon-user.icon.text-success
  /                 .media-body
  /                   %h3.media-heading Aenean vel enim quis dui blandit.
  /                   %p Maecenas vitae ex iaculis, efficitur est eu, fermentum quam.
  / %section.section
  /   .container
  /     .row
  /       .col-md-3.text-right
  /         .content
  /           .pull-middle
  /             %h4
  /               %strong Describe your product.
  /             %p Proin sapien neque, consequat ac tempus aliquam, gravida in urna. Phasellus et lectus in odio imperdiet tempus. Aenean posuere, nunc a tristique imperdiet, massa dolor dictum eros, sit amet tempor turpis turpis vel tortor.
  /             %small Phasellus feugiat at lorem a tincidunt. Nam hendrerit leo vitae orci pellentesque, nec euismod dolor condimentum.
  /       .col-md-4.col-md-offset-1.mt-100.mb-100
  /         .phone
  /           %img.img-responsive.img-rounded{:src => "http://placemi.com/djlnr/263x480"}
  /       .col-md-3.col-md-offset-1
  /         .content
  /           .pull-middle
  /             %h4
  /               %strong Even more stuff.
  /             %p Proin sapien neque, consequat ac tempus aliquam, gravida in urna. Phasellus et lectus in odio imperdiet tempus. Aenean posuere, nunc a tristique imperdiet, massa dolor dictum eros, sit amet tempor turpis turpis vel tortor.
  /             %a.btn.btn-success.btn-circle{:href => "#"} Sign up for free
  %footer.footer.text-center
    .container
      %small
        Created by Garth Gaughan