.row-offcanvas.row-offcanvas-left
  = render 'sidebar'
  %button.btn.btn-primary.btn-sm.sidebar_btn{"data-toggle" => "offcanvas", :type => "button"}
    %i.glyphicon.glyphicon-chevron-left Settings
  .container
    .row
      .col-md-6.col-md-offset-3
        .well.well-sm.new-form
          %h3 Settings for Contest
          %hr
          = semantic_form_for @page, html: { multipart: true } do |f|
            = f.inputs do
              = f.input :title
              = f.input :hashtag
              = f.input :description, input_html: { rows: 3 }
              = f.input :subdomain
              = f.input :header, hint: "Best image size is 1200px X 300 px"
              - if @page.header_url.present?
                = image_tag @page.header_url, class: 'img img-responsive'
                %hr
            = f.actions do
              = f.action :submit, label: "Save Page", as: :button