.row-offcanvas.row-offcanvas-left
  = render 'sidebar'
  %button.btn.btn-primary.btn-sm.sidebar_btn{"data-toggle" => "offcanvas", :type => "button"}
    %i.glyphicon.glyphicon-chevron-left Settings
  .container
    .row
      .col-md-6.col-md-offset-3
        .well.well-sm.new-form
          %h3 Create Contest Page
          %hr
          = semantic_form_for @page do |f|
            = f.inputs do
              = f.input :title
              = f.input :hashtag
              = f.input :description, input_html: { rows: 3 }
            = f.actions do
              = f.action :submit, label: "Create Contest Page", as: :button